:root {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

body,
h1,
h2,
p,
blockquote {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

cite {
  font-style: normal;
}

.text-primary {
  color: #f9faf8;

  font-size: 48px;
  font-weight: 900;
  text-wrap: pretty;
}

.text-primary--variation {
  color: #1f2937;

  font-size: 36px;
  font-weight: 900;
}

blockquote p {
  color: #1f2937;

  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

blockquote footer {
  color: black;

  font-size: 24px;
  font-weight: bold;

  text-align: end;
}

.text-label {
  color: #f9faf8;

  font-size: 24px;
  font-weight: bold;
}

a,
.text-secondary {
  color: #e5e7eb;

  font-size: 18px;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 8px;

  padding: 12px 32px;

  background-color: #3882f6;
  color: white;

  font-size: 20px;
  font-weight: 600;
}

ul {
  list-style: none;
}
