header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 16px;
  padding-bottom: 16px;
}

nav {
  display: flex;
  gap: 16px;
}

header,
section {
  padding-left: 20%;
  padding-right: 20%;
}

header,
#hero {
  background-color: #1f2937;
}

#hero {
  display: flex;
  gap: 64px;

  padding-top: 128px;
  padding-bottom: 128px;
}

#hero p {
  margin: 8px 0;
}

#hero img {
  border-radius: 16px;
}

#list {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 6rem;

  background-color: white;
}

#list > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#list img {
  padding: 64px;

  color: #3882f6;

  border-radius: 32px;
  border: 6px currentColor solid;
}

#list figcaption {
  padding-top: 4px;

  font-size: 20px;
}

#quote {
  background-color: #e5e7eb;

  padding: 8rem 28%;
}
