header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 16px;
  padding-bottom: 16px;
}

nav {
  display: flex;
  gap: 16px;
}

header,
section {
  padding-left: 20%;
  padding-right: 20%;
}

header,
#hero {
  background-color: #1f2937;
}

#hero {
  display: flex;
  gap: 64px;

  padding-top: 128px;
  padding-bottom: 128px;
}

#hero p {
  margin: 8px 0;
}

#hero img {
  border-radius: 16px;
}
